#drop-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    list-style: none;
}

#drop-details li {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* #boss-img{
} */