@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0);
	}
	40% {
	  transform: translateY(-10px);
	}
	60% {
	  transform: translateY(-5px);
	}
}
body{
	background-color: #1C1C1C;
	color: #E8E8E8;
}
@keyframes fadeIn {
	to {
	  opacity: 1;
	}
  }
.card-body{
	background-color: rgb(84, 85, 88);
	font-size: 2.5em;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	border: 2.2px solid #30baa3a2;
	vertical-align: middle;
	text-align: center;
	border-radius: 5px;
	box-shadow: 4px 5px 4px 3px #5c070723;
	overflow: hidden;
	transition: all 0.4s ease 0s;
	animation: fadeIn 1s forwards;
	animation-delay: calc(var(--i) * 0.2s);
}
.card-body:hover{
	transform: scale(1.05);
	overflow: hidden;
	border: 2.2px solid #30baa3;
}

#drop-details {
	background-color: #3d3528;
	border: 6px solid #504736;
	margin-bottom: 20px;
	padding: 12px;
	border-radius: 4px;
	min-height: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    list-style: none;
}

#drop-details li {
    background: #3d3528;
    /* border: 1px solid rgba(0, 0, 0, 0.164); */
	color: #E8E8E8;
    text-align: center;
    border-radius: 2px;
}

#drop-details li:hover{
	transition: transform 0.3s ease-in-out;
	transform: scale(1.15);
}

/* #dropped-item-img{
	width: 35px;
	height: 45px;
	animation: bounce 2s ease-in-out infinite;
} */
  
#dropped-item-img.bounce {
	width: 35px;
	height: 30px;
	animation: bounce 2s ease-in-out 2;
}


.quantity-label {
    position: relative;
    top: 5px;
    right: 15px;
    color: yellow;
    padding: 5px;
    border-radius: 5px;
}

#inventory-item {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

#boss-img {
	/* height: 110%; */
	width: 65%;
}

@media screen and (max-width: 600px) {
	#boss-img {
	  width: 30%;
	}
	#drop-details {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		gap: 2px;
	}
	#footer-gp-value {
		display: none;
	}
  }
